* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "urbanist";
}

p,
li,
a,
button {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #2e86c1;
  text-decoration: underline;
}

button {
  cursor: pointer;
}

header {
  height: 10rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color: #fff;
  width: 100%;
}

.container {
  width: 100%;
  margin: auto;
  height: 100vh;
  background-color: #000;
}

.grid {
  display: grid;
  margin: 0 4rem;
}

.navbar-grid {
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  height: 10rem;
  padding: 0 3.2rem;
  color: #fff;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  color: #fff;
  gap: 3.2rem;
}

.ham-menu {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
}

.banner-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 9rem 0 9rem;
}

.banner-inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-section h1 {
  letter-spacing: 0.1rem;
  font-size: 2.8rem;
  color: #fff;
}

.hero-section p {
  justify-content: center;
  color: #fff;
}

button {
  width: 12rem;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  outline: none;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

button:hover {
  border-color: #2980b9;
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
  margin: 0 9rem;
}

.footer-contact {
  display: flex;
  gap: 2rem;
}

.footer-contact .icon {
  font-size: 3rem;
  color: #2980b9;
}

.footer-contact .footer-contact-text {
  color: #fff;
}

.footer-content p {
  color: #fff;
  margin: 16rem 9rem 0 9rem;
  text-align: center;
  text-transform: capitalize;
}

/* media queries  */
@media screen and (max-width: 998px) {
  .menu-web {
    display: none;
  }

  .ham-menu {
    display: inline-block;
    /* justify-content: flex-end; */
    text-align: end;
  }

  .menu-mobile {
    position: absolute;
    top: 10rem;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px;
  }

  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-mobile ul li:first-child {
    margin-top: 1.2rem;
  }

  .menu-mobile ul li:last-child {
    margin-bottom: 1.2rem;
  }
}
